<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE hibernate-configuration PUBLIC
		"-//Hibernate/Hibernate Configuration DTD 3.0//EN"
		"http://hibernate.sourceforge.net/hibernate-configuration-3.0.dtd">
<hibernate-configuration>
	<session-factory>
		<property name='connection.driver_class'>com.mysql.jdbc.Driver</property>
		<property name="hibernate.connection.url">jdbc:mysql://localhost:3306/cloudloadbalancer</property>
		<property name="hibernate.connection.username">root</property>
		<property name="connection.password">mysql123</property>
		<property name="connection.pool_size">1</property>
		<property name="hibernate.dialect">org.hibernate.dialect.HSQLDialect</property>
		<property name="show_sql">true</property>
		<property name="hbm2ddl.auto">create</property>
		<mapping class="com.vaannila.domain.Utilization" />
		<mapping class="com.vaannila.domain.VirtualMachine" />
		<mapping class="com.vaannila.domain.Cloud" />
	</session-factory>
</hibernate-configuration>
